@font-face {
    font-family: 'Zen Dots';
    font-weight: 400;
    src: url('assets/fonts/ZenDots-Regular.woff2') format('woff2'),
            url('assets/fonts/ZenDots-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
    /* insert font fam and default font */
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: 'Zen Dots', sans-serif;
    font-weight: 400;
}

/* Calculator container */
.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* Buttons and states */
button {
    font-size: 2rem;
    font-family: 'Zen Dots', sans-serif;
    border: 1px solid #f8f6f0;
    outline: none;
    background-color: rgba(100, 148, 237, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-in;
}

button:hover {
    background-color: rgba(100, 148, 237, 0.90);
    box-shadow: none;
}

button:active {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
}

.active-key {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
    background-color: rgba(100, 148, 237, 0.90);
}

.span {
    grid-column: span 2;
}

.operator {
    color: #2a66af;
}

.clear,
.delete {
    color: #d03837;
}

/* Calculator display */
.display-container {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.display {
    color: #f8f6f0;
    font-family: 'Zen Dots', sans-serif;
    font-size: 2.5rem;
    align-self: flex-end;
}

/* Footer info */
.info {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(1, 300px);
}